$form-bg-color: #fff;
$form-border-color: #e7e7e7;
$form-font-color: #777;
$form-bg-color-alt: #eaeaea;
$form-border-color-alt: #d1d1d1;
$form-input-color: #555;
$form-input-placeholder-color: rgba(0,0,0,0.7);
$form-btn-bg-gradient-start: #1dd1a1;
$form-btn-bg-gradient-end: #10ac84;
$form-link-color: #999;
$form-link-hover-color: #555;

@mixin rotate($deg) {
  transform: rotate($deg);
}

@mixin transition($properties, $duration, $ease) {
  transition: $properties $duration $ease;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder          { @content; }
  &::-moz-placeholder         { @content; }
  &:-ms-input-placeholder     { @content; }
}

.loginPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
      font-family: 'Poppins', sans-serif;
      position: relative;
      z-index: 1;
      max-width: 800px;
      min-width: 360px;
      margin: auto;
    
      .form-horizontal {
        background-color: $form-bg-color;
        padding: 30px 30px 10px;
        border: 1px solid $form-border-color;
        position: relative;
        
        &:before,
        &:after {
          content: '';
          background-color: $form-bg-color;
          height: 100%;
          width: 100%;
          border: 1px solid $form-border-color;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
        }
    
        &:before {
          @include rotate(3deg);
        }
    
        &:after {
          @include rotate(-3deg);
        }
    
        .title {
          color: $form-font-color;
          background: linear-gradient(to right, #f5f5f5, transparent, transparent, transparent, #f5f5f5);
          font-size: 23px;
          font-weight: 600;
          text-align: center;
          text-transform: capitalize;
          padding: 2px;
          margin: 0 0 20px 0;
        }
    
        .form-group {
          background-color: $form-bg-color-alt;
          font-size: 0;
          margin: 0 0 23px;
          border: 1px solid $form-border-color-alt;
          border-radius: 3px;
          position: relative;
          
          .error {
            color: red; // Set the color to red for better visibility
            font-size: 12px;
            margin-top: 5px;
            position: absolute;
            text-align: start;
            bottom: -20px; // Adjust based on your layout
          }
        }
    
        .input-icon {
          color: #888;
          font-size: 18px;
          text-align: center;
          line-height: 40px;
          height: 40px;
          width: 40px;
          vertical-align: top;
          display: inline-block;
        }
    
        .form-control {
          color: $form-input-color;
          background-color: transparent;
          font-size: 14px;
          letter-spacing: 1px;
          width: calc(100% - 55px);
          height: 40px;
          padding: 10px;
          box-shadow: none;
          border: none;
          border-radius: 0;
          display: inline-block;
          @include transition(all, 0.3s, ease);
    
          &:focus {
            box-shadow: none;
            border: none;
          }
    
          @include placeholder {
            color: $form-input-placeholder-color;
            font-size: 14px;
            text-transform: capitalize;
          }
        }
    
        .btn {
          display: inline;
          font-size: 16px;
          font-weight: 600;
          text-transform: capitalize;
          width: 100px;
          padding: 5px 18px;
          margin: 0 0 15px 0;
          border: none;
          border-radius: 30px;
          display: inline-block;
          @include transition(all, 0.3s, ease);
        }
    
        .forgot-pass {
          font-size: 12px;
          text-align: right;
          width: calc(100% - 105px);
          display: inline-block;
          vertical-align: top;
        }
    
        .forgot-pass a,
        .register a {
          color: $form-link-color;
          @include transition(all, 0.3s, ease);
        }
    
        .forgot-pass a:hover,
        .register a:hover {
          color: $form-link-hover-color;
          text-decoration: underline;
        }
    
        .register {
          font-size: 12px;
          text-align: center;
          padding-top: 8px;
          border-top: 1px solid $form-border-color;
          display: block;
        }
      }
    }
}

