
nav {
  padding: 5px 5%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  z-index: 1;
  height: 75px;
  

  .logo {
    display: flex;
    align-items: center;

    img {
      // height: 25px;
      width: auto;
      margin-right: 10px;
    }

    h1 {
      font-size: 1.1rem;
      background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  ul {
    list-style: none;
    display: flex;

    li {
      margin-left: 1.5rem;

      a {
        text-decoration: none;
        color: #000;
        font-size: 95%;
        font-weight: 400;
        padding: 6px 12px;
        border-radius: 5px;

        // &:hover {
        //   background-color: #f5f5f5;
        // }
      }
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;

  .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.2s ease-in-out;
  }
}

.hamburger-active {
  transition: all 0.2s ease-in-out;
  transition-delay: 0.4s;
  transform: rotate(45deg);

  .line:nth-child(2) {
    width: 0px;
  }

  .line:nth-child(1),
  .line:nth-child(3) {
    transition-delay: 0.2s;
  }

  .line:nth-child(1) {
    transform: translateY(12px);
  }

  .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
  }
}

@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }

  nav ul {
    // display: none;
  }
}
