// sidebar-guest.scss
.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Adjust the width as needed */
  height: 100%;
  background-color: #f5f5f5;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
  animation: slideIn 0.3s forwards;

  .link {
    display: flex;
    padding: 10px;
    align-items: center;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      width: 100%;
      padding: 4px 10px 4px 10px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ffffff;
      }

      a {
        text-decoration: none;
        // color: inherit;
        display: block;
        width: 100%;
      }
    }
  }

  .border-2 {
    border: 2px solid #1f1f1f;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
