.nav-pills li a:hover {
  background-color: rgba(67, 67, 204, 0.819);
}

.sidebar {
  transition: width 0.3s;
  overflow-x: hidden;
  width: 230px;
}

.sidebar.closed {
  width: 60px;
}

.sidebar .nav-link {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.sidebar.closed .nav-link span {
  display: none;
}

.sidebar.open .nav-link span {
  display: inline;
}

.sidebar .dashboard-link {
  display: flex;
  align-items: center;
}

.sidebar.closed .dashboard-link span {
  display: none;
}

.sidebar.open .dashboard-link span {
  display: inline;
}

.sidebar .dropdown-toggle span {
  display: inline;
}

.sidebar.closed .dropdown-toggle span {
  display: none;
}

.dropdown-toggle i {
  display: flex;
  align-items: center;
}
